@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@500&family=Poppins:wght@300;500&family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
